.nav-bar{
	width:auto;
	height:2em;
	display:inline;
	text-align:right;
	float:right;
}

.nav-bar a{
	color:black;
}
#button{
	width:40px;
	height:10px;
	background-color:#E0E0E0;
}
a{
	font-size:small;
	font-family:arial,sans-serif;
	text-decoration: none;
	margin:10px;
}
a:hover{
	text-decoration:underline;
}

.center{
	width:200px;
	height:200px;
	top:50%;
	left:50%;
	margin:182px auto;

}

.center .logo img{
	width:18em;
	height:6em;
}
.center #search{
	margin:asuto;
	position:relative;
	left:-10em;
}
.center #search input{
	width:40em;
	height:1.5em;
}
.center .buttons{
	position:inline-block;
	width:15em;
	margin:10px;
}

.lang{
	font-size:small;
	font-family:arial,sans-serif;
	width:60em;
	margin:0 auto;

}

.footer{
	display:inline-block;
	width:80em;
	height:2em;
	background-color:#E0E0E0;
}
.footer a{
	color:#303030;
	font-size:small;
}

.footer .left{
	float:left;
}
.footer .right{
	float:right;
}
